[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "deps/ffmpeg-binaries"]
	path = deps/ffmpeg-binaries
	url = git@github.com:telegie/ffmpeg-binaries.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/GSL"]
	path = deps/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "deps/json"]
	path = deps/json
	url = git@github.com:nlohmann/json.git
[submodule "deps/libebml"]
	path = deps/libebml
	url = git@github.com:telegie/libebml.git
[submodule "deps/libmatroska"]
	path = deps/libmatroska
	url = git@github.com:Matroska-Org/libmatroska.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/libpng-binaries"]
	path = deps/libpng-binaries
	url = git@github.com:telegie/libpng-binaries.git
