[submodule "deps/libebml"]
	path = deps/libebml
	url = git@github.com:telegie/libebml.git
[submodule "deps/libmatroska"]
	path = deps/libmatroska
	url = git@github.com:Matroska-Org/libmatroska.git
[submodule "deps/ffmpeg-binaries"]
	path = deps/ffmpeg-binaries
	url = git@github.com:telegie/ffmpeg-binaries.git
